body {
    background-color: #ffffff;
   
}

header {
    background-color: rgb(192, 224, 213);
}

.splash {
    background-color: rgb(118, 211, 211);
}

.gallery {
    background-color: rgb(190, 199, 173);
}

footer {
    background-color: rgb(186, 224, 212);
}
.cta {
    background-color: rgb(219, 180, 121);
}

.quote {
    background-color: rgb(175, 111, 235);
}